/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */

/* Turns out you.... */
#one
{
    position:fixed;
    bottom:0;
    right:0;
    width:25%;
    border:5px;
    border-style:solid;
    border-color: blue;
    margin: 5px;
    padding: 5px;
}

/* All you need.... */
#two
{
    position: fixed;
    top:0;
    right:0;
    width:25%;
    border:5px;
    border-style:solid;
    border-color: green;
    margin: 5px;
    padding: 5px;
}

/* Well if crime.... */
#three
{
    position: fixed;
    top:0;
    left:0;
    width:25%;
    border:5px;
    border-style:solid;
    border-color: orange;
    margin: 5px;
    padding: 5px;
}

/* Great minds discuss... */
#four
{
    position: fixed;
    bottom:0;
    left:0;
    width:25%;
    border:5px;
    border-style:solid;
    border-color: yellow;
    margin: 5px;
    padding: 5px;
}

#link
{
    position:fixed;
    top:0%;
    right:50%;
}

#link a
{
    font-family: "helvetica neue",Helvetica,Arial,sans-serif;
    background-color:#2f418e;
    color: white;
    text-decoration:none;
}